/*AnchorPane{-fx-background-color:#dfdfdf;}*/

@font-face {
    font-family: Titulo;
    src: url('../assets/fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: Subtitulo;
    src: url('../assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Texto;
    src: url('../assets/fonts/Roboto-Regular.ttf');
}


.titulo {
    -fx-font-family: "Titulo";
}

.subtitulo {
    -fx-font-family: "Subtitulo";
}

.texto {
    -fx-font-family: "Texto";
}

