/*AnchorPane{-fx-background-color:#dfdfdf;}*/

@font-face {
    font-family: Titulo;
    src: url('/br/com/food4fit/assets/fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: Subtitulo;
    src: url('/br/com/food4fit/assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Texto;
    src: url('/br/com/food4fit/assets/fonts/Roboto-Regular.ttf');
}



#raiz{
	-fx-background-color: #303030;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.itemMenu{
	-fx-text-fill: #fff;
}

.menuLateral{
	-fx-background-color: #282828;
	-fx-focus-color: transparent;
}

.menuCadastro{
	-fx-background-color: #282828;
	-fx-focus-color: transparent;
}

.separador{
	-fx-background-color: #353535;
}

.separador *.line {
	-fx-border-width: 0px;
}



.texto{
	-fx-text-fill: #fff;
	-fx-fill: #fff;
}

.titulo{
	-fx-text-fill: #fff;
	-fx-font-size:14;
}




.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}



.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}