/*AnchorPane{-fx-background-color:#dfdfdf;}*/

@font-face {
    font-family: Titulo;
    src: url('/br/com/food4fit/assets/fonts/Roboto-Black.ttf');
}

@font-face {
    font-family: Subtitulo;
    src: url('/br/com/food4fit/assets/fonts/Roboto-Medium.ttf');
}

@font-face {
    font-family: Texto;
    src: url('/br/com/food4fit/assets/fonts/Roboto-Regular.ttf');
}


.titulo {
    -fx-font-family: "Titulo";
}

.subtitulo {
    -fx-font-family: "Subtitulo";
}

.texto {
    -fx-font-family: "Texto";
}

#raiz{
	-fx-background-color: #fff;
	-fx-focus-color: transparent;
	-fx-faint-focus-color: transparent;
}

.menuLateral{
	-fx-background-color: #dfdfdf;
	-fx-focus-color: transparent;

}

.menuCadastro{
	-fx-background-color: #dcdcdc;
	-fx-focus-color: transparent;

}

TableView{
	-fx-focus-color: -fx-control-inner-background;
	-fx-faint-focus-color: -fx-control-inner-background;
	-fx-background-insets: -1.4, 0, 1, 2;

}

.separador{
	-fx-background-color: #000;
}

.separador *.line {
	-fx-border-width: 0px;
}

.invalid {
	-fx-background-color: #ed2121;
	-fx-prompt-text-fill: #fff;
	-fx-text-fill: #fff;
}
